<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 홈페이지</title>
    <link rel="stylesheet" href="{{url_for('static', path='css/main.css')}}">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
/>
</head>
<body>
    <h1><i class="fas fa-basketball-ball"></i> 어흥 나 아기 사자 <span class="b1">아랭이</span> <i class="fas fa-basketball-ball"></i></h1>
    <hr>
    <h3>'저의 피에는 <strong>아기사자의 피</strong>가 있ㅇㅓ요' <- 걔 맞습니다 ^^ </h3>
    <p>요즘 누가 멋사 사이트 안 들어가? <a href="http://멋쟁이사자처럼.메인.한국"> "어흥~" </a></p>
    <img class="img1" src="song.jpg">
    <img class="img2" src="song2.jpg">
    <img class="img3" src="song3.jpg">
    <br>
    <br>
    <br>
    <span class="b2">우리 앞으로도 열심히 파이팅해봅시다!</span>
</body>
</html>